.AboutMe-container {
  display: block;
}
.About-the-author-two {
  width: 65%;
  height: 20px;
  font-size: 12px;
  margin-top: 5%;
  margin-left: 35%;
}
.Davian {
  width: 70%;
  height: 20px;
  margin-left: 30%;
}
.benji {
  width: 175px;
  height: 175px;
  margin-left: 25%;
  display: inline-block;
}
.AboutMe {
  width: 90%;
  height: auto;
  font-size: 12px;
  display: block;
  margin-top: 5%;
  margin-left: 5%;
}
.line {
  width: 100%;
  height: 1px;
  background-color: navy;
  margin-top: 15px;
}
.Projects-coming-soon {
  width: auto;
  height: auto;
  font-size: 12px;
  margin: 5% 0px 0px 5%;
}
