.AboutMe-container {
  display: inline-flex;
}
.About-the-author-two {
  width: 85%;
  height: 20px;
  font-size: 12px;
  margin-top: 5%;
  margin-left: 10%;
}
.Davian {
  width: 90%;
  height: 20px;
  margin-left: 10%;
}
.benji {
  width: 125px;
  height: 125px;
  margin-left: 10%;
  display: inline-block;
}
.AboutMe {
  width: 90%;
  height: auto;
  font-size: 11px;
  display: inline-flex;
  margin-top: 12%;
  margin-right: 50px;
}
.block {
  width: 100%;
  display: block;
}
