@media only screen and (min-width: 450px) {
    .Documented-Learning {
    margin-left: 15%;
    }
    .Fall-blog {
      margin-left: 5%;
    }
    .About-the-author {
      margin-left: 15%;
    }
    .Sandbox {
      margin-left: 10%;
    }
}
@media only screen and (min-width: 550px) {
    .Documented-Learning {
    margin-left: 5%;
    }
    .Fall-blog {
      margin-left: 8%;
    }
    .About-the-author {
      margin-left: 1%;
}
}
@media only screen and (min-width: 600px) {
    .Documented-Learning {
    margin-left: 2%;
    }
    .Fall-blog {
      margin-left: 10%;
}
.Sandbox {
  margin-left: 0px;
}
}
@media only screen and (min-width: 650px) {
    .Documented-Learning {
    margin-left: 2%;
    font-size: 18px;
    }
    .Fall-blog {
      margin-left: 10%;
}
.Sandbox {
  margin-left: 0px;
}
}
@media only screen and (min-width: 800px) {
    .Documented-Learning {
    margin-left: 5%;
}
}
@media only screen and (min-width: 850px) {
    .Documented-Learning {
    margin-left: 2%;
    }
    .Fall-blog {
      margin-left: 25%;
}
}
@media only screen and (min-width: 950px) {
    .Documented-Learning {
    margin-left: 2%;
    }
    .Fall-blog {
      margin-left: 25%;
}
}
@media only screen and (min-width: 1000px) {
    .Documented-Learning {
    margin-left: 2%;
    }
    .Fall-blog {
      margin-left: 35%;
}
}
@media only screen and (min-width: 1100px) {
    .Documented-Learning {
    margin-left: 2%;
    }
    .Fall-blog {
      margin-left: 45%;
}
}
